body {
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(scale_1200.jpeg);
    border-image: fill 0 linear-gradient(210deg,#0001,#0007);
   }
nav {
    margin-bottom: 20px;
}
nav a {
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
    color: violet;
    font-size: 20px;
}
.contacts h1,p,label {
    color:white;
}
h1, h2 {
    color: yellow;
}
table {
    color: white;
}

nav a #cont {
    background: url(ii.jpg);
}